.dot_btn{
    margin-left: -10px;
    margin-top: 13px;
    
}
.dots{
    color: rgba(124, 122, 120, 0.62);
   
}

.steps{
    display: flex;
    background-color:rgba(124, 122, 120, 0.2) ;
    width: 450px;
    margin-bottom: 1rem;
    padding-top: 10px;
    border-left: 2px solid #880696;
   
}

.added_text{
    color: #880696;
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
}

.added_steps{
    margin-left: -90px;
    position: absolute;
    top: 20%;
    
}


.icon_ham{
    font-size: 3rem;
    display: none;
 
}

@media screen and (max-width:820px) {
    .icon_ham{
        display: block;
    
    }
    .added_steps{
        top: 70%;
    }
 

}
@media screen and (max-width:600px) {
   
    .added_steps{
        top: 96%;
    }
 

}

  
  .showMenu {
    display: none;
  }
  
  @media screen and (max-width:600px) {
    .added_steps{
        top: 100%;
    }
      }

  @media screen and (max-width:420px) {
   .added_steps{
       top: 80%;
   }
     }

     @media screen and (max-width:375px) {
        .added_steps{
            top: 105%;
        }
        .steps{
            width: 300px;
        }
          }
 